@import '../../../styles/Variables.scss';
$size:160px;
.customphoto--container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $size;
    height: $size;

    
}
.customphoto--container:hover{
    cursor: pointer;
}
.image--container{
    position: absolute;
    top:0;
    left:0;
    height: $size;
    width: $size;
}

.img--avatar{
    border-radius: 100px;
    width: $size;
    height: $size;
    box-shadow: 1px 2px 12px 1px rgba(108,7,143,0.42);
-webkit-box-shadow: 1px 2px 12px 1px rgba(108,7,143,0.42);
-moz-box-shadow: 1px 2px 12px 1px rgba(108,7,143,0.42);
}

.icon--container{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    color: white;
    z-index: 2;
}
.icon--plus{
    font-size: 80px;
    opacity: 0.5;


}

