$size:160px;
.customphoto--container{
    // background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $size;
    height: $size;
}
.image--container{
    position: absolute;
    top:0;
    left:0;
    height: $size;
    width: $size;
}
.icon--container{
    position: relative;
    background-color: black;
    display: flex;
    align-self: center;
    width: 100%;
    color: white;
    z-index: 22;
}
.icon--plus{
    color: white;
    font-size: 50px;

}

.img--avatar{
    border-radius: 100px;
    width: $size;
    height: $size;
}