@import '../../styles/Variables.scss';
.allergy--list--container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    border: 1px solid $pink1;
    border-radius: 30px;
    min-height: 420px;
    margin-left: 1rem;

    box-shadow: 10px 10px 62px 0px rgba(68,71,151,0.75);
    -webkit-box-shadow: 10px 10px 62px 0px rgba(68,71,151,0.75);
    -moz-box-shadow: 10px 10px 62px 0px rgba(68,71,151,0.75);
}
.allergy--card{
    display: flex;
    flex: 0;

    margin: 1rem;
    margin-right:0rem;
    display: flex;
    padding: 1px 5px;
    border: 1px solid $black1;
    border-radius: 20px;

    -webkit-box-shadow: 3px 4px 8px 3px rgba(130,48,130,0.64);
    -moz-box-shadow: 3px 4px 8px 3px rgba(130,48,130,0.64);
    box-shadow: 3px 4px 8px 3px rgba(130,48,130,0.64);
}

.allergy--card--deleteicon{
margin-left: 4px;
border: 1px solid $pink1;
padding:0px 4px;
border-radius: 50%;
font-weight: bold;

color: $deleteButtonColor;
background-color: white;
}
.allergy--card--deleteicon:hover{
    cursor: pointer;
    color: white;
    
    background-color: $deleteButtonColor;
}
.footer--buttons{
    display: flex;
    justify-content: space-around;
}

