@import "../../styles/Variables.scss";
.form--vaccine--header--container{
    background-color: $white2;
    border-radius: 30px;
    padding: 1rem;

    box-shadow: 10px 10px 62px 0px rgba(68,71,151,0.75);
    -webkit-box-shadow: 10px 10px 62px 0px rgba(68,71,151,0.75);
    -moz-box-shadow: 10px 10px 62px 0px rgba(68,71,151,0.75);
}

.form--vaccine--header--left{
    display: flex;
    justify-content: left;

}
.form--vaccine--header--right{
    display: flex;
    justify-content: center;
    align-self: center;

}
.form--row2{
    display: flex;
}
.form--vaccine{
    background-color: $white2;
    width: 50%;
}
.form--allergy{
    width: 50%;


}

.button--save{
width: 30%;
align-self: flex-end;
}


