@import "../../../styles/Variables.scss";

.button{
    background-color: $pink1;
    font-weight: 200;
    color: $white1;
    border: 1px solid $pink1;
    border-radius: 30px;
    width: 100%;
    margin: 2rem 0rem;
    margin-bottom: 1rem;
}

.button:hover{
    border: 1px solid $pink1;
    color:$pink1;
    
}

.button--edit{
    margin: 0rem;
    background-color: $editButtonColor;
    border: 1px solid $editButtonColor;

}
.button--edit:hover{
    border: 1px solid $editButtonColor;
    color:$editButtonColor
}
.button--delete{
    margin:0rem;
    border: 1px solid $deleteButtonColor;
    background-color: $deleteButtonColor;
}
.button--delete:hover{
    border: 1px solid $deleteButtonColor;
    color:$deleteButtonColor
}