@import "./Variables.scss";
/* table */
.ant-table {
    font-size: 12px;
    color: $black1;
  }

  
  /* row data */
  .ant-table-tbody > tr > td {
    height: 5px;
    padding: 4px;
  }
  /* row tags */
  .my-tag {
    font-size: 12px;
  }
  .ant-table-thead > tr > th {
    height: 5px;
    padding: 4px;
  }

