$red: red;
$green:green;
$pink1:rgba(232,97,189,255);
$pink2:#ffe8ec;
$white1:white;
// $white2:#eceff6;
$white2:#eceff6;
$white3:rgb(102, 130, 191);
$blue1:#9ad7fd;

$black1:black;


$deleteButtonColor:#ff4010;

$editButtonColor:#1c8bc0;