@import "../../../styles/Variables.scss";
.tab{
    display: flex;
    font-size: 18px;
    display: flex;
}

.tab:hover{
    background-color: $white2;
    border-radius: 20px;
}

.tab--icon{
text-align: left;
margin: 0 1rem;
}
